@import "./libs/bootstrap.min.css";
@import "./libs/bootstrap-select.min.css";
@import "./libs/owl.carousel.min.css";
@import "./libs/owl.theme.default.min.css";
@import "fonts.css";
@import "variables";
@import "map";
body {
    font-family: 'Montserrat';
    font-weight: normal;
}

a {
    text-decoration: none;
}

@media (max-width: 992px) {
    header {
        padding: 0;
    }
    footer {
        padding-top: 42px!important;
    }
    .jumbotron {
        min-height: 200px;
        background-position: center;
    }
}

@media (min-width: 992px) {
    .jumbotron .card {
        margin: 45px;
        padding: 50px;
    }
}

@media (min-width: 1900px) {
    .jumbotron .card {
        margin: 90px;
        padding: 75px 125px;
    }
}

footer {
    padding: 68px 0 33px;
}

.nav-style .nav-link {
    font-family: 'Exo 2';
    font-weight: normal;
    font-size: 12px;
    color: #9A9A9A!important;
    text-transform: initial!important;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Exo 2';
    font-weight: normal;
    font-size: 16px;
    color: $black-color;
    text-transform: uppercase;
    &:active,
    &:focus,
    &:hover {
        color: $green-color!important;
    }
}

.navbar-light .navbar-toggler {
    border: none;
    &:focus {
        box-shadow: none;
    }
}

.navbar-light.expanded .navbar-toggler-icon {
    background-image: url("../images/toggler-icon.svg");
    max-width: 20px;
    max-height: 20px;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../images/icon-menu.svg");
    max-width: 20px;
    max-height: 20px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: transparent!important;
    color: $green-color!important;
}

.nav-pills .nav-link {
    color: $black-color!important;
    color: 13px;
}

.jumbotron {
    background-image: url("../images/main-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-success {
    font-weight: bold;
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid #6f942d;
    padding: 12px 18px;
    color: $white-color!important;
    background-color: $green-color;
    &:focus,
    &:hover {
        background-color: #6f942d!important;
    }
}

.btn-light {
    font-weight: bold;
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid #6f942d;
    padding: 12px 18px;
    color: $black-color!important;
    background-color: $white-color;
    &:focus,
    &:hover {
        background-color: #6f942d!important;
        color: $white-color!important;
    }
}

.bootstrap-select .dropdown-toggle {
    &:focus,
    &:hover {
        background-color: $light-color!important;
    }
}

.map-toolbar .btn-light {
    background-color: $light-color;
}

.btn-default {
    background-color: $white-color;
}

.btn-secondary {
    background-color: #F8F8F8!important;
    border: none;
    border-radius: 0!important;
}

.card {
    border: none;
}

.list-unstyled li a {
    font-size: 12px;
    line-height: 30px;
    color: $black-color;
    text-decoration: none;
}

.owl-carousel {
    .owl-nav button.owl-prev,
    .owl-nav button.owl-next {
        display: none;
    }
    .owl-dots .owl-dot span {
        width: 10px;
        height: 10px;
        background-color: $white-color;
        border: 1px solid #799C3C;
        border-radius: 50%;
        display: inline-block;
        margin: 0 10px;
    }
    .owl-dots {
        text-align: center;
        position: relative;
        top: 20px;
    }
    .owl-dots .owl-dot.active span {
        background-color: #799C3C;
    }
    .owl-item img {
        display: inline;
        width: initial;
    }
}

footer .footer-list li {
    display: inline;
    a {
        font-weight: 600;
        font-size: 12px;
    }
}

.accordion-item {
    background-color: $light-color;
    border: none;
}

.accordion-button {
    color: $black-color;
    background-color: #E3E3E3;
    box-shadow: none;
    border: none;
    border-radius: 0;
    &:focus {
        box-shadow: none;
    }
}

.accordion-button:not(.collapsed) {
    color: $black-color;
    background-color: #E3E3E3;
    box-shadow: none;
    border: none;
    border-radius: 0;
}

.accordion-item:first-of-type {
    border-radius: 0;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 0;
}

.accordion-item:first-of-type .accordion-button {
    border-radius: 0;
}

.accordion-button::after {
    background-image: url("../images/plus-icon.svg");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../images/minus-icon.svg");
}

.form-check-input {
    width: 40px;
    height: 40px;
    border-radius: 0!important;
    border: none;
}

.form-check-label {
    font-weight: 500;
    font-size: 14px;
    color: $black-color;
}

.form-label {
    font-family: 'Exo 2', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: $black-color;
}

.form-control {
    color: $black-color;
    border: none;
    border-radius: 0;
    font-size: 14px;
}

.input-group-text {
    background-color: $white-color;
    border: none;
    border-radius: 0;
    font-size: 14px;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: 0!important;
    outline-offset: 0!important;
}

.bootstrap-select .dropdown-toggle::after {
    content: "\e908";
    color: #707070;
    font-size: 10px;
    font-family: 'icomoon';
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.dropdown-toggle {
    &::after {
        content: "\e908";
        color: #707070;
        font-size: 10px;
        font-family: 'icomoon';
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-right: none;
    }
}

.dropdown-menu {
    border: 1px solid #F8F8F8 !important;
}

.btn-check:focus+.btn-secondary,
.btn-secondary:focus {
    box-shadow: none!important;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: $green-color;
    box-shadow: none;
}

.dropdown-toggle.btn-light {
    border-radius: 0;
    border: none;
    padding: 10px 19px;
}

.dropdown-toggle .dropdown-item {
    &focus,
    &:hover {
        background-color: transparent!important;
    }
}

.read-more-link {
    font-weight: 600;
    font-size: 14px;
    color: $green-color;
}

.read-more-link.collapsed:after {
    content: "\e908";
    font-size: 10px;
    display: inline-block;
    transform: rotate(0deg);
    font-family: 'icomoon';
}

.read-more-link:after {
    content: "\e908";
    font-size: 10px;
    display: inline-block;
    transform: rotate(180deg);
    font-family: 'icomoon';
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none!important;
}

.btn:hover {
    color: $green-color;
}

.filter-option-inner-inner {
    font-weight: 500;
    font-size: 14px;
    color: $black-color;
}

.img-style {
    width: 15px;
    height: 19px;
}

.leaflet-popup-content {
    margin: 30px 20px;
}

.leaflet-container {
    font-family: 'Montserrat', sans-serif!important;
    a {
        color: $black-color;
    }
}

.download-btn {
    background-color: #F8F8F8;
    border: 1px solid #6F942D;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    &::after {
        content: "";
        display: block;
        background-image: url("../images/close.svg");
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
    }
}

.dropdown.bootstrap-select {
    padding: 0!important;
}