@charset "UTF-8";
@import "./bootstrap.min.css";
@import "./bootstrap-select.min.css";
@import "./owl.carousel.default.min.css";
@import "./owl.carousel.min.css";
@import "fonts.css";
h1,
h2,
h3,
h4,
h6 {
  font-family: "Exo 2";
  font-weight: normal;
  color: #99C151;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 23px;
  line-height: 30px;
}

h3 {
  font-size: 21px;
  line-height: 30px;
}

h4 {
  font-size: 21px;
  line-height: 30px;
}

h6 {
  font-size: 16px;
  color: #3C3C3C;
}

p {
  font-size: 16px;
  line-height: 30px;
  color: #3C3C3C;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-500 {
  font-weight: 500;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-12 {
  font-size: 12px;
}

.bg-light {
  background-color: rgba(243, 243, 243, 0.9) !important;
}

.bg-white {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.bg-body {
  background-color: #F3F3F3 !important;
}

.bg-secondary {
  background-color: #777777 !important;
}

.bg-warning {
  background-color: #F0AD4E !important;
}

.bg-success {
  background-color: #99C151 !important;
}

.text-success {
  color: #99C151 !important;
}

.text-dark {
  color: #3C3C3C !important;
}

.pt-77px {
  padding-top: 77px;
}

.pt-80px {
  padding-top: 80px;
}

.pb-85px {
  padding-bottom: 85px;
}

.mt-80px {
  margin-top: 80px;
}

.mb-74px {
  margin-bottom: 74px;
}

@media (max-width: 992px) {
  h1,
h2 {
    font-size: 20px;
  }

  h3,
h4 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  .mb-74px {
    margin-bottom: 38px;
  }
}
body {
  font-family: "Montserrat";
  font-weight: normal;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  header {
    padding: 0;
  }

  footer {
    padding-top: 42px !important;
  }

  .jumbotron {
    min-height: 200px;
    background-position: center;
  }
}
footer {
  padding: 68px 0 33px;
}

.nav-style .nav-link {
  font-family: "Exo 2";
  font-weight: normal;
  font-size: 12px;
  color: #9A9A9A !important;
  text-transform: initial !important;
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Exo 2";
  font-weight: normal;
  font-size: 16px;
  color: #3C3C3C;
  text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:active, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #99C151 !important;
}

.navbar-light .navbar-toggler {
  border: none;
}
.navbar-light .navbar-toggler:focus {
  box-shadow: none;
}

.navbar-light.expanded .navbar-toggler-icon {
  background-image: url("../images/toggler-icon.svg");
  max-width: 20px;
  max-height: 20px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../images/icon-menu.svg");
  max-width: 20px;
  max-height: 20px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: transparent !important;
  color: #99C151 !important;
}

.nav-pills .nav-link {
  color: #3C3C3C !important;
  color: 13px;
}

.jumbotron {
  background-image: url("../images/main-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron .card {
  margin: 90px;
  padding: 75px 125px;
}

.btn-success {
  font-weight: bold;
  font-size: 16px;
  border-radius: 50px;
  border: 1px solid #6f942d;
  padding: 12px 40px;
  color: #FFFFFF !important;
  background-color: #99C151;
}
.btn-success:focus, .btn-success:hover {
  background-color: #6f942d !important;
}

.btn-light {
  font-weight: bold;
  font-size: 16px;
  border-radius: 50px;
  border: 1px solid #6f942d;
  padding: 12px 40px;
  color: #3C3C3C !important;
  background-color: #FFFFFF;
}
.btn-light:focus, .btn-light:hover {
  background-color: #6f942d !important;
  color: #FFFFFF !important;
}

.dropdown-toggle.btn-lightfocus, .dropdown-toggle.btn-light:hover {
  background-color: #FFFFFF !important;
  color: #3C3C3C !important;
}

.btn-default {
  background-color: #FFFFFF;
}

.btn-secondary {
  background-color: #F8F8F8 !important;
  border: none;
  border-radius: 0 !important;
}

.card {
  border: none;
}

.list-unstyled li a {
  font-size: 12px;
  line-height: 30px;
  color: #3C3C3C;
  text-decoration: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  display: none;
}
.owl-carousel .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  border: 1px solid #799C3C;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px;
}
.owl-carousel .owl-dots {
  text-align: center;
  position: relative;
  top: 20px;
}
.owl-carousel .owl-dots .owl-dot.active span {
  background-color: #799C3C;
}
.owl-carousel .owl-item img {
  display: inline;
  width: initial;
}

footer .footer-list li {
  display: inline;
}
footer .footer-list li a {
  font-weight: 600;
  font-size: 12px;
}

.accordion-item {
  background-color: #F3F3F3;
  border: none;
}

.accordion-button {
  color: #3C3C3C;
  background-color: #E3E3E3;
  box-shadow: none;
  border: none;
  border-radius: 0;
}
.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #3C3C3C;
  background-color: #E3E3E3;
  box-shadow: none;
  border: none;
  border-radius: 0;
}

.accordion-item:first-of-type {
  border-radius: 0;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 0;
}

.accordion-item:first-of-type .accordion-button {
  border-radius: 0;
}

.accordion-button::after {
  background-image: url("../images/plus-icon.svg");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../images/minus-icon.svg");
}

.form-check-input {
  width: 40px;
  height: 40px;
  border-radius: 0 !important;
  border: none;
}

.form-check-label {
  font-weight: 500;
  font-size: 14px;
  color: #3C3C3C;
}

.form-label {
  font-family: "Exo 2", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #3C3C3C;
}

.form-control {
  color: #3C3C3C;
  border: none;
  border-radius: 0;
  font-size: 14px;
}

.input-group-text {
  background-color: #FFFFFF;
  border: none;
  border-radius: 0;
  font-size: 14px;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: 0 !important;
  outline-offset: 0 !important;
}

.bootstrap-select .dropdown-toggle::after {
  content: "";
  color: #707070;
  font-family: "icomoon";
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.dropdown-toggle::after {
  content: "";
  color: #707070;
  font-family: "icomoon";
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.dropdown-menu {
  border: 1px solid #F8F8F8 !important;
}

.btn-check:focus + .btn-secondary,
.btn-secondary:focus {
  box-shadow: none !important;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #99C151;
  box-shadow: none;
}

.dropdown-toggle.btn-light {
  border-radius: 0;
  border: none;
  padding: 10px 19px;
}

.dropdown-toggle .dropdown-itemfocus, .dropdown-toggle .dropdown-item:hover {
  background-color: transparent !important;
}

.read-more-link {
  font-weight: 600;
  font-size: 14px;
  color: #99C151;
}

.read-more-link.collapsed:after {
  content: "";
  display: inline-block;
  transform: rotate(0deg);
  color: #99C151;
  font-family: "icomoon";
}

.read-more-link:after {
  content: "";
  display: inline-block;
  transform: rotate(180deg);
  color: #99C151;
  font-family: "icomoon";
}

.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none !important;
}

.btn:hover {
  color: #99C151;
}

.filter-option-inner-inner {
  font-weight: 500;
  font-size: 14px;
  color: #3C3C3C;
}

.img-style {
  width: 15px;
  height: 19px;
}

/*# sourceMappingURL=style.css.map */
